backports.functools-lru-cache==1.6.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cycler==0.10.0
Cython==0.29.13
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.5
msgpack==0.6.1
numpy==1.16.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyzmq==18.1.0
requests==2.22.0
six==1.14.0
subprocess32==3.5.4
urllib3==1.25.3
Werkzeug==0.16.0
zmq==0.0.0
h5py==2.10.0
